/* Universal Tags */

body {

  font-family: 'Roboto', sans-serif;
  width: 100%;

}

section {
  
  width: 100%;

}

img {

  height: 50px;

}

/* Header */

header {

  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

}

#logo {

  font-family: 'Roboto Mono';

}

/* Desktop Nav */

nav ul, nav li, nav a {

  display: flex;
  justify-content: center;
  align-items: center;

}

nav ul {

  justify-content: space-between;

}

nav li {

  padding-left: 32px;

}

/* Tablet Nav */

.tabletNav {

  display: none;

}

/* Mobile Nav */

.mobileNav {

  display: none;

}

.navBtn {

  color: whitesmoke;
  background-color: #9dc20b;
  padding: 3px 8px;
  border-radius: 4px;

}

/* Sign Up Section */

#signUp {

  background-image: url(../images/banner-landingpage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;

}

#signUp article {

  display: inline-block;
  background-color: #9dc20a;
  border: 1px solid #979797;
  border-radius: 4px;
  text-align: center;
  padding: 32px 80px 56px 80px;
  margin: 170px 0 170px 100px;
  color: whitesmoke;
  font-size: 1.25rem;
  line-height: 1.4;

}

#signUp p, #signUp h1, #signUp h2 {

  display: block;

}

.signUpBtn {

  color: whitesmoke;
  font-weight: bolder;
  width: 408px;
  height: 64px;
  background-color: #4a4a4a;
  border-radius: 4px;
  margin: 26px 0 0 0;

}

/* Features Section */



/* Filters Section */



/* Quotes Section */



/* Footer */



/* Broad Style Classes */

.icon {

  height: 24px;
  padding-left: 8px

}

.cursive {

  font-family: 'Damion', cursive;
  font-size: 32px;

}

.striking {

  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 3.125rem ;
  margin: 12px 0;

}

/* Media Queries */

@media only screen and (max-width: 800px) {

  .tabletNav {
    display: flex;
  }

  #signUp article {

    background-color: transparent;
    border: 0px;
    display: inline-block;
    text-align: center;
    margin: 75px auto;
    color: whitesmoke;
    font-size: 1.25rem;
    line-height: 1.4;
    padding: 32px 0px 56px 0px;
  
  }

  #signUp p, #signUp button {
    display: none;
  }

}

@media only screen and (max-width: 615px) {

  html {
    font-size: 12px;
  }

  header {
    height: 48px;
    }
  
  nav {
    width: 100%;
  }

  nav li {
    padding-left: 0px;
  }

  #logo {
    display: none;
  }

  .desktopNav {
    display: none;
  }

  .mobileNav {
    display: flex;
  }

  #signUp {

    background-image: url(../images/banner-landingpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
  
  }

}