/* Universal Tags */

body {

  font-family: 'Roboto', sans-serif;
  width: 100%;

}

section {
  
  width: 100%;

}

/* Header */

header {

  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

}

#logo {

  font-family: 'Roboto Mono';

}

/* Desktop Nav */

nav ul, nav li, nav a {

  display: flex;
  justify-content: center;
  align-items: center;

}

nav ul {

  justify-content: space-between;

}

nav li {

  padding-left: 32px;

}

/* Tablet Nav */

.tabletNav {

  display: none;

}

/* Mobile Nav */

.mobileNav {

  display: none;

}

.navBtn {

  color: whitesmoke;
  background-color: #9dc20b;
  padding: 3px 8px;
  border-radius: 4px;

}

/* Sign Up Section */

#signUp {

  background-image: url(../images/banner-landingpage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;

}

#signUp article {

  display: inline-block;
  background-color: #9dc20a;
  border: 1px solid #979797;
  border-radius: 4px;
  text-align: center;
  padding: 32px 80px 56px 80px;
  margin: 170px 0 170px 100px;
  color: whitesmoke;
  font-size: 1.25rem;
  line-height: 1.4;

}

#signUp p, #signUp h1, #signUp h2 {

  display: block;

}

.signUpBtn {

  color: whitesmoke;
  font-weight: bolder;
  width: 408px;
  height: 64px;
  background-color: #4a4a4a;
  border-radius: 4px;
  margin: 26px 0 0 0;

}

/* Features Section */

#features {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  text-align: center;

}

#features figure {

  background-color: white;
  height: 635px;
  display: block;
  flex: 0 1 45%;
  margin: 64px 19px 46px 19px;

}

#features figure img {

  width: 100%;
  min-height: 65%;
  padding: 32px 32px 40px 32px;
  object-fit: cover;

}

#features figcaption {

  max-width: 90%;
  min-height: 187px;
  padding: 0 32px 0 32px;
  margin: 0 auto;

}

#features p {

  max-width: 100%;
  color: #4a4a4a;
  font-weight: lighter;
  line-height: 1.2;

}

#features h2 {

  max-width: 100%;
  color: #4a4a4a;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;

}

/* Filters Section */

#filters {

  background-color: #4a4a4a;
  text-align: center;
  padding: 84px 0 64px 0;

}

.imagesContainer {

  width: 100%;
  display: flex;

}

#filters h2 {

  color: white;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 auto;

}

#filters h3 {

  width: 40%;
  color: whitesmoke;
  font-weight: lighter;
  line-height: 1.4;
  margin: 0 auto;
  padding: 12px 12px 80px 12px;

}


#filters img {
  max-width: 25%;
}

/* Quotes Section */

#quotes {

  background-color: #f3f3f3;
  padding: 80px 20px 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

#quotes blockquote {

  color: #4a4a4a;
  font-family: 'PT Serif';
  font-size: 1.875rem;
  margin-right: 30px;
  font-style: italic;

}


/* Footer */



/* Broad Style Classes */

.icon {

  height: 24px;
  padding-left: 8px

}

.cursive {

  font-family: 'Damion', cursive;
  font-size: 32px;

}

.striking {

  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 3.125rem ;
  margin: 12px 0;

}

/* Media Queries */

@media only screen and (max-width: 900px) {

  .tabletNav {
    display: flex;
  }

  #signUp article {

    background-color: transparent;
    border: 0px;
    display: inline-block;
    text-align: center;
    margin: 75px auto;
    color: whitesmoke;
    font-size: 1.25rem;
    line-height: 1.4;
    padding: 32px 0px 56px 0px;
  
  }

  #signUp p, #signUp button {

    display: none;

  }

  #features {

    text-align: left;

  }

  #features figure {

    height: 550px;
    margin: 32px 12px 32px 12px;

  }

  #features figcaption {

    max-width: 100%;
  
  }

  #features h2 {

    font-size: 1.75rem;
  
  }

  #filters {

    padding: 80px 0 0px 0;
  
  }

  #filters h3 {

    width: auto;
  
  }

}

@media only screen and (max-width: 615px) {

  html {
    font-size: 14px;
  }

  header {
    height: 48px;
    }
  
  nav {
    width: 100%;
  }

  nav li {
    padding-left: 0px;
  }

  #logo {
    display: none;
  }

  .desktopNav {
    display: none;
  }

  .mobileNav {
    display: flex;
  }

  #signUp {

    background-image: url(../images/banner-landingpage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
  
  }

  #features {

    display: block;
    text-align: center;

  }

  #features figure {

    height: auto;
    margin: 0;
    padding-bottom: 30px;
    
  }

  #features figcaption {

    min-height: auto;
    max-width: 90%;
  
  }

  #features figure img {

    width: 100%;
    height: 65%;
    padding: 16px 16px 24px 16px;
    object-fit: cover;
  
  }

  #features h2 {

    font-size: 1.29rem;
    font-weight: normal;
    line-height: 1.3;
  
  }

  #features p {

    line-height: 1.4;
  
  }

  #filters {

    padding: 30px 0 0px 0;
  
  }

  #filters h2 {

    font-weight: normal;
    font-size: 1.75rem;
  
  }

  #filters h3 {

    padding: 12px 12px 30px 12px;
  
  }

  #filters img {
    max-width: 33.333333333%;
  }

  .displayNone {

    display: none;

  }

  #quotes {

    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 40px 40px 40px 40px;
  
  }

  #quotes blockquote {

    line-height: 1.4;
    font-size: 1.71rem;
    padding-bottom: 16px;
    margin: 0;

  }

}